
@tailwind base;
@tailwind components;
@tailwind utilities;

.error-bg {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23f0b608' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23e6d710' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23e7af05' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23e7d808' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23d8a408' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23f1e213' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23f0b607' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23e4d506' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23eab822' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23e8da14' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23e8b008' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23edde14' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
}
.tracking-tighter-less {
  letter-spacing: -0.75rem;
}
.text-shadow {
  text-shadow: -8px 0 0 rgb(102 123 242);
}


/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    /* border-radius: 50% !important; */
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    /* border-radius: 50px !important; */
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
body{
  background: #F8F8F8 !important;
}

/* remove border radius of ant design select component */
:where(.css-dev-only-do-not-override-1w4v3hc).ant-select-single.ant-select-lg:not(.ant-select-customize-input) .ant-select-selector{
  border-radius: 0px !important;
}

/* remove border radius of ant design input component */
:where(.css-dev-only-do-not-override-1w4v3hc).ant-input {
  border-radius: 0px !important;
}

/* remove padding of collapsable header */
.alert-tag :where(.css-dev-only-do-not-override-1w4v3hc).ant-collapse-borderless >.ant-collapse-item:last-child, :where(.css-dev-only-do-not-override-1w4v3hc).ant-collapse-borderless >.ant-collapse-item:last-child .ant-collapse-header{
  padding: 0 !important;
}

.alert-tag .ant-collapse-content-box{
  padding:0 !important;
}

:where(.css-dev-only-do-not-override-1w4v3hc).ant-picker-focused {
  border-color: #4096ff;
  box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1);
  border-inline-end-width: 1px;
  outline: 0;
  border-radius: 0 !important;
  height: 40px !important;
}

.ant-picker {
  border-radius: 0 !important;
  height: 40px !important;
}